<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tover.manage.toverbam">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />​
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />​

    <!--小米推送权限-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission android:name="com.tover.manage.toverbam.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.tover.manage.toverbam.permission.MIPUSH_RECEIVE" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name="com.tover.manage.toverbam.mvp.ui.activity.LaunchActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <!--AutoLayout,配置设计图的宽高,配合AutoLauout控件使用,在设计图尺寸以外的其它尺寸手机上,也能达到和设计图一样的效果-->
        <meta-data
            android:name="design_width"
            android:value="1080"/>
        <meta-data
            android:name="design_height"
            android:value="1920"/>

        <!-- arms全局配置  -->
        <meta-data
            android:name="com.tover.manage.toverbam.app.GlobalConfiguration"
            android:value="ConfigModule"/>

        <meta-data
            android:name="com.tover.manage.commonsdk.core.GlobalConfiguration"
            android:value="ConfigModule"/>

        <!--小米推送的service和receiver|-->
        <service android:enabled="true" android:process=":pushservice" android:name="com.xiaomi.push.service.XMPushService"/>
        <service android:enabled="true" android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" android:name="com.xiaomi.push.service.XMJobService"/><!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service android:enabled="true" android:exported="true" android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service android:enabled="true" android:name="com.xiaomi.mipush.sdk.MessageHandleService" /> <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver android:exported="true" android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:process=":pushservice" android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter> <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <!--注册自定义的小米推送信息receiver-->
        <receiver
            android:exported="true"
            android:name="com.tover.manage.toverbam.app.utils.mipush.MyPushMessageReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
